<h1>{{title}}</h1>
<hr>
<div class="card mx-auto text-center">
    <div class="card-body">
        <h4 class="card-title">UTech-SORAT</h4>
        <p class="card-text">
            Anim minim tempor et aute aliqua dolor reprehenderit sint Lorem sunt est proident sit cillum. Do magna voluptate nostrud nisi aliquip magna nisi occaecat amet excepteur eiusmod. Ea ea proident amet officia reprehenderit. Do esse officia mollit non magna Lorem. Consectetur laboris duis exercitation veniam incididunt irure aliquip reprehenderit laborum sit nisi laboris. Do ut in voluptate consequat irure Lorem nisi non excepteur.
        </p>
        <a href="/assessment/individual-attributes" class="btn btn-primary">Click here to begin</a>
    </div>
</div>