<div class="jumbotron text-center">
    <h1>UTech Student Online Readiness Assessment Tool</h1>
    <p class="lead">Ut nostrud laborum nisi officia nisi Lorem et ipsum est laborum amet.</p>
    {{#if user}}

    {{else}}
        <a href="/users/login" class="btn btn-primary">Login</a> <a href="/users/register" class="btn btn-secondary">Register</a>
    {{/if}}
</div>
<div class="row">
    <div class="col-md-4">
        <div>
            <h2 class="text-center">Heading 1</h2>
            <p>Occaecat aliquip consequat exercitation consectetur. Consequat deserunt culpa nisi laboris adipisicing Lorem.
                Quis magna laborum voluptate id deserunt occaecat. Laboris dolore tempor ut consequat quis Lorem.Anim eiusmod
                dolore nulla id nisi culpa et do. Aute tempor ut laboris ea duis velit anim minim aliqua eu cillum ullamco
                fugiat.
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div>
            <h2 class="text-center">Heading 2</h2>
            <p>Occaecat aliquip consequat exercitation consectetur. Consequat deserunt culpa nisi laboris adipisicing Lorem.
                Quis magna laborum voluptate id deserunt occaecat. Laboris dolore tempor ut consequat quis Lorem.Anim eiusmod
                dolore nulla id nisi culpa et do. Aute tempor ut laboris ea duis velit anim minim aliqua eu cillum ullamco
                fugiat.
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div>
            <h2 class="text-center">Heading 3</h2>
            <p>Occaecat aliquip consequat exercitation consectetur. Consequat deserunt culpa nisi laboris adipisicing Lorem.
                Quis magna laborum voluptate id deserunt occaecat. Laboris dolore tempor ut consequat quis Lorem.Anim eiusmod
                dolore nulla id nisi culpa et do. Aute tempor ut laboris ea duis velit anim minim aliqua eu cillum ullamco
                fugiat.
            </p>
        </div>
    </div>
</div>